# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6aa4d7aaa994e35dd25c853c
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6aa4d7aaa994e35dd25c853c
